*{
    margin:0;
    padding:0;
    font-family: 'Work Sans', sans-serif;
}
/* header section start */
#header-section{
    background:linear-gradient(to right,rgba(2, 16, 59, 0.214),rgba(2, 30, 70, 0.197)),url('../new-year-new-me/images/banner/banner3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 95vh;
    
}
.header-section{
    width:1140px;
    height:95vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.header-sub-title h1{
    color:aliceblue;
    font-size:60px;
    text-align: right;
}
.header-sub-title p{
    margin:10px 0px;
    color:azure;
    text-align: right;
    line-height: 22px;
}
.header-btn{
    margin-left: 320px;
    padding:12px 14px;
    font-size: 18px;
    color:#196EB4;
    font-weight: bold;
    border:none;
    border-radius: 5px;
}
/* header section end */

/* section-one start */
.section-one-title{
    padding-top: 50px;
    width:1140px;
    height:auto;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.section-one-sub{
  width:500px;
  
}
.section-one-sub h1{
    font-size: 37px;
    font-weight: bold;
}
.section-one-sub p{
    padding:17px 0px;
    width: 340px;
    color: #626161;
    line-height: 23px;
}
.section-one-sub ul li{
    list-style: none;
    line-height: 28px;
    color: #626161;
}
.section-one-sub ul li i{
    color:#196EB4;
}
/* section-one end */

/* section-two-start */
.section-two{
    width: 1140px;
    height: auto;
    margin: auto;
   
}
.section-two h1{
    margin:auto;
    width:200px;
    padding:65px 0px;
    font-size: 40px;
}
.section-two-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.section-two-sub{
    padding: 20px 5px;
    width: 230px;
    box-shadow: 5px 5px 5px silver;
    text-align: center;
   
    margin: auto;
}
.section-two-sub h2 {
  padding: 10px 0px;
}
/* section-two-end */
/* section-three start */
.section-three{
    background: linear-gradient(to right,rgba(3, 55, 159, 0.987),rgba(1, 15, 41, 0.286)),url('../new-year-new-me/images/watch.png');
    background-repeat:no-repeat;
    width:1100px;
    height: 250px;
    margin: 80px auto;
    border-radius: 6px;
   

}
.sub-sec-three{
    margin:30px;
    padding:60px 40px;
}
.sub-sec-three h1{
   color:aliceblue;
   font-size: 26px;
}
.btn-sec-three{
    padding:12px 14px;
    font-size: 18px;
    color:#196EB4;
    font-weight: bold;
    border:none;
    border-radius: 5px;
    margin-top: 10px;
}
/* section-three end */


/* footer secton start */
#footer-sec{
    background-color: rgba(0, 0, 0, 0.915);
}
.footer-bar{
    width:1140px;

    height: 400px;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    
}
.footer-sub{
    width:400px;
    color:aliceblue;
    margin: 40px 10px;
    padding-top: 60px;
}
.footer-sub .footer-title{
    padding:15px 0px;
    font-size: 13px;
    line-height: 25px;
}
.footer-input{
    margin: 15px 0px;
    padding: 8px 150px 8px 5px;
    border:none;
    font-size: 20px;
    color:#196EB4;
    border-radius: 5px;
}
/* footer section end */

