*{
    margin:0;
    padding:0;
}
/* header section start */
#header-section{
    background:linear-gradient(rgba(14, 14, 43, 0.421),rgba(6, 6, 164, 0.484)),url('../new-year-new-me/images/banner/banner3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 95vh;
    
}
.header-title{
    width:1140px;
    height:95vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.header-sub-title h1{
    color:aliceblue;
    font-size:60px;
    text-align: right;
}
.header-sub-title p{
    margin:10px 0px;
    color:azure;
    text-align: right;
    line-height: 22px;
}
.header-btn{
    margin-left: 250px;
    padding:12px 14px;
    font-size: 18px;
    color:#196EB4;
    font-weight: bold;
    border:none;
    border-radius: 5px;
}